.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-img-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero-img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin-top: 2.5rem;
  filter: blur(1.5px);
}

.auto-type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 3rem;
  color: rgb(221, 221, 221);
}

.typed-cursor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 3rem;
}

.more-about {
  padding: 1rem 6rem;
  
}

.more-about h2, .more-about p {
  text-align: center;
  
}

