.heading {
  margin-left: 1rem;
  font-size: 35px;
}

.job-pic {
  height: 7rem;
  border-radius: 10px;
}

.job {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-left: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.company-name {
  margin-bottom: 0;
  padding-bottom: 0;

}

.job-title {
  margin-top: 0;
}

.job-description {
  grid-column: 2;
  margin-left: 1rem;
  margin-top: -1.5rem;
  margin-bottom: 3rem;
}

#ace-pic {
  width: 7.1rem;
}